.container {
  max-width: 1024px;
}

.ds-banner {
  height: 200px;
  background-color: #ffa500;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ds-nav .navbar {
  background: #ef6c00;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;

  &:hover {
    color: #fff3e0;
  }
}

.navbar-default {
  border: none;
}

.ds-logo {
  max-width: 196px;
  margin-top: 50px;
}

body {
  background-color: #f4f5f6 !important;
}

.ds-card {
  padding: 30px;
}

.ds-card-title {
  color: #e65100;
}

.FB-login {
  transform: translateY(-20px) translateX(-72px);
}

.footer {
  border-top: none;
  background-color: #fff;
}

#cause-box {
  background-color: #e8e8e8;
}

#cause-color {
  background-size: cover;
  background-position: center center;

  #cause-name {
    color: #fff;
  }

  #cause-icon {
    color: #fff;
  }
}

#submit-button {
  max-width: 256px;
}
