<div>
  <div class="ds-banner">
    <div class="container">
      <img class="ds-logo" src="images/logo.png">
    </div>
  </div>
  <div class="header ds-nav">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a ng-href="#/message">Message</a></li>
            <li><a ng-href="#/dashboard">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="card ds-card" id="myDiv" style="width: 420px; height: 360px;">
        </div>
        <div class="card ds-card">
          <div ng-repeat="msg in messages" class="row">
            <div class="col s9">
              <h5>{{ msg.from }}</h5>
              <p>{{ msg.body }}</p>
            </div>
            <div class="col s3">
              <h4>${{ msg.amount }}</h4>
              <button class="waves-effect waves-light orange btn btn-sm">
                Post to FB
              </button>
              <button class="waves-effect waves-light orange btn btn-sm" ng-click="deleteMessage(msg)">
                Reject
              </button>
            </div>
            <hr/>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card ds-card">
          <h6>Donations Collected Year-to-Date:</h6>
          <h3>
            ${{totalAmount()}}
          </h3>
        </div>
        <div class="card ds-card">
          <h6>Top 3 Donors:</h6>
          <ol>
            <li ng-repeat="msg in messages.slice(0, 3)">
              {{ msg.from }} : ${{ msg.amount }}
            </li>
          <ol>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var trace1 = {
x: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
y: [20000, 14000, 25000, 16000, 18000, 22000, 19000, 15000, 12000, 16000, 14000, 17000],
type: 'bar',
name: 'FY2014',
marker: {
  color: 'rgb(255,152,0)',
  opacity: 0.7
}
};

var trace2 = {
x: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
y: [19000, 14000, 22000, 14000, 16000, 19000, 15000, 14000, 10000, 12000, 12000, 16000],
type: 'bar',
name: 'FY2015',
marker: {
  color: 'rgb(255,193,7)',
  opacity: 0.5
}
};

var data = [trace1, trace2];

var layout = {
title: 'Total Donations Year-To-Date',
xaxis: {
  tickangle: -45
},
barmode: 'group'
};

Plotly.newPlot('myDiv', data, layout);
</script>
