<!--GABRIELLE'S SLIDER-->
<form id="slider-form">
   <!--TITLE-->
    <div>
        <h1>I WANT TO HELP</h1>
    </div>

   <!--Cause Box-->
    <div class="row">
        <div class="col s3 center-align" style="border: 1px solid black">
            <h3>DAY TO DAY</h3>
            <i class="fa fa-5x fa-usd" aria-hidden="true"></i>
        </div>
        <div class="col s9" style="border: 1px solid black">
            <h5>Abused Teen Girls</h5>
            <p>bla</p>
            <h5>Unsupported Pregnant Women</h5>
            <p>bla</p>            
        </div>
    </div>

    <!--Slider Labels-->
   <div id="slider" class="row">
       <div id="slider-labels">
          <span id="slider-label-1" class="col s1">1</span>
          <span id="slider-label-2" class="col s1">clinical</span>
          <span id="slider-label-3" class="col s2">education</span>
          <span id="slider-label-4" class="col s2">future</span>
          <span id="slider-label-5" class="col s2">others</span>
          <span id="slider-label-6" class="col s3">others</span>
       </div>
   </div>
   <!--Slider-->
   <div class="row pink lighten-4" style="border: 1px solid black">
      <h6 class="col s1">50</h6>
      <h6 class="col s1">100</h6>
      <h6 class="col s1">300</h6>
      <h6 class="col s1"></h6>
      <h6 class="col s1">500</h6>
      <h6 class="col s1"></h6>
      <h6 class="col s1">1000</h6>
      <h6 class="col s1"></h6>
      <h6 class="col s1">2000</h6>
      <h6 class="col s1"></h6>
      <h6 class="col s1">5000</h6>
      <h6 class="col s1" style="text-align: right">?</h6>
      <input id="slider-input" class= "row col s12" type="range" name="amountRange" min="10" max="1200" value="10"/>
   </div>

   <!--Final Amount-->
    <div id="final-amt-div" class="valign-wrapper row">
        <div class="col l3 m6 s6 valign right-align">
            <h5>I will give $</h5>
        </div>
        <div id="text-input-div" class="col l3 m6 s6 valign">
           <input id="text-input" class="valign" type="number" name="amountInput" value="10" style="display: inline"/>
        </div>
        <div class="center-align col l6 m12 s12 valign">
            <a id="non-recurring-donate" class="btn orange darken-1">Once</a>
            <a id="recurring-donate" class="btn orange darken-1">Monthly</a>
        </div>
    </div>
</form>
<!--END OF GABRIELLE'S SLIDER-->


<!-- CREDIT CARD FORM! -->
<!-- NAV TABS FOR FORMS -->
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a id="non" href="#nonrelief" class="active">Non Tax Relief</a></li>
      <li class="tab col s3"><a id="tax" href="#relief">Tax Relief</a></li>
    </ul>
  </div>
</div>

<!-- DONATION FORM: NON-TAX-RELIEF -->
<div id="nonrelief">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">stars</i>
          <input id="icon_donation1" type="tel" class="validate">
          <label for="icon_donation1"></label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">payment</i>
          <input id="icon_creditcard" type="tel" class="validate">
          <label for="icon_creditcard">Credit Card No.</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">payment</i>
          <input id="icon_expire" type="tel" class="validate">
          <label for="icon_expire">Expiration Date</label>
        </div>

        <div class="input-field col s6">
          <input type="checkbox" id="recurring1" />
          <label for="recurring1">Make this a monthly contribution</label>
          <div id="recurring-duration1" class="input-field col s6">
            <form action="#">
              <p>
                <input name="group1" type="radio" id="duration-12" />
                <label for="duration-12">for 12 months</label>
              </p>
              <p>
                <input name="group1" type="radio" id="duration-24" />
                <label for="duration-24">for 24 months</label>
              </p>
              <p>
                <input name="group1" type="radio" id="duration-36" />
                <label for="duration-36">for 36 months</label>
              </p>
            </form>
          </div>
        </div>

        <div class="input-field col s6">
          <input type="checkbox" id="newsletter1" checked="checked" />
          <label for="newsletter1">Subscribe to our Newsletter</label>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- DONATION FORM: TAX-RELIEF -->
<div id="relief">
  <div class="row">
    <form class="col s12">
      <div class="row">

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">picture_in_picture</i>
          <input id="icon_nric" type="text" class="validate">
          <label for="icon_nric">NRIC</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">work</i>
          <input id="icon_company" type="text" class="validate">
          <label for="icon_company">Company Reg. No.</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Contact No.</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">location_on</i>
          <input id="icon_address" type="tel" class="validate">
          <label for="icon_address">Address</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="tel" class="validate">
          <label for="icon_email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">stars</i>
          <input id="icon_donation2" type="tel" class="validate">
          <label for="icon_donation2"></label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">payment</i>
          <input id="icon_creditcard" type="tel" class="validate">
          <label for="icon_creditcard">Credit Card No.</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">payment</i>
          <input id="icon_expire" type="tel" class="validate">
          <label for="icon_expire">Expiration Date</label>
        </div>

        <div class="input-field col s6">
          <input type="checkbox" id="recurring2" />
          <label for="recurring2">Make this a monthly contribution</label>
          <div id="recurring-duration2" class="input-field col s6">
            <form action="#">
              <p>
                <input name="group1" type="radio" id="duration-12" />
                <label for="duration-12">for 12 months</label>
              </p>
              <p>
                <input name="group1" type="radio" id="duration-24" />
                <label for="duration-24">for 24 months</label>
              </p>
              <p>
                <input name="group1" type="radio" id="duration-36" />
                <label for="duration-36">for 36 months</label>
              </p>
            </form>
          </div>
        </div>

        <div class="input-field col s6">
          <input type="checkbox" id="newsletter2" checked="checked" />
          <label for="newsletter2">Subscribe to our Newsletter</label>
        </div>

      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="row">
    <button class="btn waves-effect waves-light #fb8c00 orange darken-1 input-field col s12" type="submit" name="action">
      SUBMIT
    </button>
  </div>
</div>
</div>

<script>
  $(function pageLoaded() {

    //SCRIPTS FOR FORM
    $('ul.tabs').tabs();
    $('select').material_select();
    $('#recurring-duration1').hide();
    $('#recurring-duration2').hide();

    //SCRIPT FOR SLIDER
    var array = [
      //Range 1
      {
        cause: "BASIC",
        causeIcon: "lala",
      },
      //Range 2
      {
        cause: "CLINICAL",
        causeIcon: "lala",
      },
      //Range 3
      {
        cause: "EDUCATION",
        causeIcon: "lala",
      },
      //Range 4
      {
        cause: "FUTURE",
        causeIcon: "lala",
      },
      //Range 5
      {
        cause: "OMG YOU'RE SO GENEROUS!",
        causeIcon: "lala",
      },
      //Range 6
      {
        cause: "OTHERS",
        causeIcon: "lala",
      }
    ]

    $("#text-input").on("input", function() {
      $("#slider-input").val(this.value);
      $("#icon_donation1").val(this.value);
      $("#icon_donation2").val(this.value);
      updateDisplay(this.value);
    });

    $("#slider-input").on("input", function() {
      $("#text-input").val(this.value);
      $("#icon_donation1").val(this.value);
      $("#icon_donation2").val(this.value);
      updateDisplay(this.value);
    });

    $("#icon_donation1").on("input", function() {
      $("#slider-input").val(this.value);
      $("#text-input").val(this.value);
      updateDisplay(this.value);
    })

    $("#recurring-donate").on("click", function() {
      $("#recurring1").attr("checked", true);
      $("#recurring2").attr("checked", true);
      $('#recurring-duration1').show();
      $('#recurring-duration2').show();
    });

    $("#non-recurring-donate").on("click", function() {
      $("#recurring1").attr("checked", false);
      $("#recurring2").attr("checked", false);
      $('#recurring-duration1').hide();
      $('#recurring-duration2').hide();
    });

    $("#recurring1").on("change", function() {
      if (this.checked == true) {
        $('#recurring-duration1').show();
      } else {
        $('#recurring-duration1').hide();
      }
    });
    $("#recurring2").on("change", function() {
      if (this.checked == true) {
        $('#recurring-duration2').show();
      } else {
        $('#recurring-duration2').hide();
      }
    });

    function updateDisplay(value) {
      console.log(value);
      $("#final-amt").html("Donate $" + value);

      if (value < 200) {
        $("#cause").html(array[0].cause);
        $("#cause-description").html(array[0].causeIcon);
        $("#cause-image").attr("src", array[0].image).css({
          'width': '300px',
          'height': 'auto'
        });
        $('#slider-label-1').css({
          'background': '#ffecb3'
        });
        //$("#cause-image").prepend('<img src="array[0].image"/>');
      } else if (value < 400) {
        $("#cause").html(array[1].cause);
        $("#cause-description").html(array[1].causeIcon);
        $("#cause-image").attr("src", array[1].image).css({
          'width': '300px',
          'height': 'auto'
        });
        $('#slider-label-2').css({
          'background': '#ffd54f'
        });
      } else if (value < 600) {
        $("#cause").html(array[2].cause);
        $("#cause-description").html(array[2].causeIcon);
        $("#cause-image").attr("src", array[2].image).css({
          'width': '300px',
          'height': 'auto'
        });
        $('#slider-label-3').css({
          'background': '#ffc107 '
        });
      } else if (value < 800) {
        $("#cause").html(array[3].cause);
        $("#cause-description").html(array[3].causeIcon);
        $("#cause-image").attr("src", array[3].image).css({
          'width': '300px',
          'height': 'auto'
        });;
        $('#slider-label-4').css({
          'background': '#ffa000 '
        });
      } else if (value < 1000) {
        $("#cause").html(array[4].cause);
        $("#cause-description").html(array[4].causeIcon);
        $("#cause-image").attr("src", array[4].image).css({
          'width': '300px',
          'height': 'auto'
        });
        $('#slider-label-5').css({
          'background': '#ff8f00'
        });
      } else {
        $("#cause").html(array[5].cause);
        $("#cause-description").html(array[5].causeIcon);
        $("#cause-image").attr("src", array[5].image).css({
          'width': '300px',
          'height': 'auto'
        });
        $('#slider-label-6').css({
          'background': '#ff6f00'
        });
      }
    }
  });
</script>
