<div class="card ds-card">
  <h3 class="center-align">Thank you!</h3>
  <p class="lead">
    <h5>Send a postcard to our residents: </h5>
    <div class="carousel">
      <div class="postcard">
        <a class="carousel-item"><img src="/images/pic1.jpg" alt=""/></a>
        <h3 class="postcardtext center-align">{{msg}}</h3>
        <h5 class="postcardsubtext center-align">From: {{name}}</h5>
      </div>

      <div class="postcard">
        <a class="carousel-item"><img src="/images/pic2.jpg"></a>
        <h3 class="postcardtext center-align">{{msg}}</h3>
        <h5 class="postcardsubtext center-align">From: {{name}}</h5>
      </div>

      <div class="postcard">
        <a class="carousel-item"><img src="/images/pic3.jpg"></a>
        <h3 class="postcardtext center-align">{{msg}}</h3>
        <h5 class="postcardsubtext center-align">From: {{name}}</h5>
      </div>

      <div class="postcard">
        <a class="carousel-item"><img src="/images/pic4.jpg"></a>
        <h3 class="postcardtext center-align">{{msg}}</h3>
        <h5 class="postcardsubtext center-align">From: {{name}}</h5>
      </div>

      <div class="postcard">
        <a class="carousel-item"><img src="/images/pic5.jpg"></a>
        <h3 class="postcardtext center-align">{{msg}}</h3>
        <h5 class="postcardsubtext center-align">From: {{name}}</h5>
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="from"></label>
        <input type="text" class="form-control" ng-model="name" placeholder="Your Name">
      </div>
      <div class="form-group">
        <label for="message"></label>
        <input type="text" class="form-control" ng-model="msg" placeholder="Message">
      </div>
      <!-- <p><a class="btn btn-lg btn-success" ng-click="addMessage()">Send</span></a></p> -->
      <p class="right-align"><a class="waves-effect waves-light btn" ng-click="addMessage()"><i class="material-icons left">email</i>Send</a></p>
    </form>
  </p>
  <br/><br/><br/><br/><br/>
  <hr>
  <h3> Thank you, your message has been sent! </h3>
  <div id="gallery"><h5> How others have shown their love: </h5></div>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="/images/pic1.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>Love yourself and be proud of everything you do.</h3>
            <h5 class="light grey-text text-lighten-3">- Catherine</h5>
          </div>
        </li>
        <li>
          <img src="/images/pic2.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>All things in life are temporary. Sunshine always come after the rain.</h3>
            <h5 class="light grey-text text-lighten-3">- Joanne Lo</h5>
          </div>
        </li>
        <li>
          <img src="/images/pic3.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h3>Have faith that everything will work out for the best.</h3>
            <h5 class="light grey-text text-lighten-3">- Gabrielle Ong</h5>
          </div>
        </li>
        <li>
          <img src="/images/pic4.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>People are just as happy as they make up their minds to be</h3>
            <h5 class="light grey-text text-lighten-3">- Joanne Lo</h5>
          </div>
        </li>
      </ul>
  </div>
  <br/><br/><br/>
  <div class="row center-align">
    <a href="#/dashboard"
          id="submit-button"
          class="btn waves-effect waves-light #fb8c00 orange" type="submit" name="action">
          Dashboard
        </a>
  </div>
</div>
<script>
$(function pageLoaded() {
  //FOR SIDE NAV BAR
  $(".button-collapse").sideNav();
});
</script>
